@import "base";

$dark-grey: #5F5F5F;
$red: #ec7964;

h2, p {
	text-align: centre;
	color: $red;
	margin: 10px;
}

a {
	text-decoration: none;
}

.image1 {        
	background-image: url("../../assets/images/black1.jpg");
	
}

.image2 {
	background-image: url("../../assets/images/black2.jpg");
}

.image3 {
	background-image: url("../../assets/images/black3.jpg");
}

.image4 {
	background-image: url("../../assets/images/black4.jpg");
}

.container {
  	height: 100vh;
  	@include centre;	
}

.left {
	width: 50%;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
}

.right {
	width: 50%;
	float: right;
	background-repeat: no-repeat;
	background-size: cover;
}

.grey {
	background-color: #D6D6D6;
}

.button {
	width: 100px;
    height: 20px;
    margin: none; 
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
 	padding: 5px;
 	color: $red;
    transition: background-color 0.8s ease;
    &:hover {
      background-color: #ec7964;
      color: white;
    }
}

.text {
	display: block;
	max-width: 300px;
	text-align: center;	
}

@media screen and (max-width: 500px) {
	.caption {
		height: 300px;
		width: 300px;
	}

	.left, .right, .grey{
		width: 100%;
	}
}
