/* line 6, ../sass/projects.scss */
h2, p {
  text-align: centre;
  color: #ec7964;
  margin: 10px;
}

/* line 12, ../sass/projects.scss */
a {
  text-decoration: none;
}

/* line 16, ../sass/projects.scss */
.image1 {
  background-image: url("../../assets/images/black1.jpg");
}

/* line 21, ../sass/projects.scss */
.image2 {
  background-image: url("../../assets/images/black2.jpg");
}

/* line 25, ../sass/projects.scss */
.image3 {
  background-image: url("../../assets/images/black3.jpg");
}

/* line 29, ../sass/projects.scss */
.image4 {
  background-image: url("../../assets/images/black4.jpg");
}

/* line 33, ../sass/projects.scss */
.container {
  height: 100vh;
  text-align: centre;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 38, ../sass/projects.scss */
.left {
  width: 50%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 45, ../sass/projects.scss */
.right {
  width: 50%;
  float: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 52, ../sass/projects.scss */
.grey {
  background-color: #f8f8f8;
}

/* line 56, ../sass/projects.scss */
.button {
  width: 100px;
  height: 20px;
  margin: none;
  background-color: transparent;
  border: 2px solid #ec7964;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: #ec7964;
  transition: background-color 0.8s ease;
}
/* line 68, ../sass/projects.scss */
.button:hover {
  background-color: #ec7964;
  color: white;
}

/* line 74, ../sass/projects.scss */
.text {
  display: block;
  max-width: 300px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  /* line 81, ../sass/projects.scss */
  .caption {
    height: 300px;
    width: 300px;
  }

  /* line 86, ../sass/projects.scss */
  .left, .right, .grey {
    width: 100%;
  }
}
