@import "https://fonts.googleapis.com/css?family=Coda";
/* line 7, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/style.scss */
body {
  overflow-x: hidden;
  font-family: 'Coda', cursive;
  background-color: #fafafa;
}

/* line 18, ../sass/style.scss */
h1 {
  text-align: center;
  font-size: 180%;
  line-height: 120%;
  padding: 5% 0;
  color: #7d7d7d;
}

/* line 26, ../sass/style.scss */
h3 {
  line-height: 110%;
  padding: 5% 0;
}

/* line 31, ../sass/style.scss */
p {
  padding: 1%;
  color: #4f4f4f;
}

/* line 36, ../sass/style.scss */
.bar {
  position: fixed;
  height: 40px;
  width: 100%;
  background: #5F5F5F;
  z-index: 4;
  top: 0;
}

/* line 45, ../sass/style.scss */
nav {
  background-color: transparent;
  position: fixed;
  width: 340px;
  height: 100%;
  top: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 5;
}

/* line 56, ../sass/style.scss */
.menu, .linee {
  cursor: pointer;
}

/* line 60, ../sass/style.scss */
.menu {
  float: right;
  margin: 15px 15px 0 0;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: #ec7964;
  border: none;
  transition: all 0.40s ease-out;
}

/* line 71, ../sass/style.scss */
.over {
  transform: scale(100);
  transition: all 0.350s ease-in;
  cursor: default;
}

/* line 77, ../sass/style.scss */
.linea1 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 33px;
  transition: all 0.3s;
}

/* line 83, ../sass/style.scss */
.linea2 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 38px;
  opacity: 1;
  transition: opacity 0.5s;
}

/* line 90, ../sass/style.scss */
.linea3 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 43px;
}

/* line 95, ../sass/style.scss */
.overL1 {
  animation: closetop 1s forwards;
  animation-direction: alternate;
  cursor: pointer;
}

/* line 101, ../sass/style.scss */
.overL2 {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

/* line 107, ../sass/style.scss */
.overL3 {
  animation: closebottom 1s forwards;
  animation-direction: alternate;
  cursor: pointer;
}

/* line 113, ../sass/style.scss */
#logo {
  float: left;
  margin: 15px 0 0 15px;
  height: 49px;
  width: 49px;
  border-radius: 5px 20px 5px;
  background-color: #ec7964;
  color: white;
  border: none;
  transition: all 0.40s ease-out;
}
/* line 123, ../sass/style.scss */
#logo h3 {
  margin: 12px 0 0 12px;
  font-family: 'Arial';
}
/* line 127, ../sass/style.scss */
#logo a {
  text-decoration: none;
  color: white;
}

@keyframes closetop {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  25% {
    transform: translateY(5px) rotate(0deg);
  }
  75% {
    transform: translateY(5px) rotate(-45deg);
  }
  100% {
    transform: translateY(5px) rotate(-45deg);
  }
}
@keyframes closebottom {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) rotate(0deg);
  }
  75% {
    transform: translateY(-5px) rotate(45deg);
  }
  100% {
    transform: translateY(-5px) rotate(45deg);
  }
}
/* line 163, ../sass/style.scss */
.menu-links {
  visibility: hidden;
  position: absolute;
  right: 50px;
  top: 160px;
  opacity: 0;
  transition: all 0.300s;
  transition-delay: 0s;
}
/* line 171, ../sass/style.scss */
.menu-links ul {
  list-style-type: none;
}
/* line 172, ../sass/style.scss */
.menu-links li {
  margin: 20px 0px;
}
/* line 173, ../sass/style.scss */
.menu-links li a {
  float: right;
  font-size: 150%;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
/* line 179, ../sass/style.scss */
.menu-links li a:hover {
  opacity: 0.7;
}

/* line 184, ../sass/style.scss */
.overmain {
  visibility: visible;
  opacity: 1;
  transition: all 0.400s;
  transition-delay: 0.370s;
}

/* line 191, ../sass/style.scss */
header {
  background: url("../../assets/images/black.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}
@media screen and (max-width: 414px) {
  /* line 191, ../sass/style.scss */
  header {
    padding-top: 70%;
    padding-bottom: 70%;
  }
}

/* line 202, ../sass/style.scss */
.container {
  height: 150px;
}

/* line 206, ../sass/style.scss */
.flexi {
  height: auto;
  text-align: center;
}

/* line 211, ../sass/style.scss */
.header-intro {
  text-align: center;
  color: white;
  font-size: 200%;
  max-width: 728px;
  margin: auto;
}
/* line 217, ../sass/style.scss */
.header-intro::before {
  content: "";
  margin-right: 10px;
}

/* line 223, ../sass/style.scss */
.paragraph {
  overflow: hidden;
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
}
/* line 231, ../sass/style.scss */
.paragraph, .paragraph:before {
  background: 50% 50% / cover;
}

/* line 236, ../sass/style.scss */
.color {
  background-color: #D6D6D6;
}
/* line 238, ../sass/style.scss */
.color h1 {
  color: #5F5F5F;
}

/* line 243, ../sass/style.scss */
.icon {
  width: 200px;
  height: 200px;
  margin: none;
  background-color: transparent;
  display: inline-block;
  transition: background-image 0.8s ease;
}
/* line 250, ../sass/style.scss */
.icon:hover {
  background-color: #ec7964;
}

/* Uses fct in base to set and change img */
/* line 255, ../sass/style.scss */
#html {
  background-image: url("../../assets/icons/lang/html1.png");
}
/* line 53, ../sass/_base.scss */
#html:hover {
  background-image: url("../../assets/icons/lang/html2.png");
}

/* line 259, ../sass/style.scss */
#css {
  background-image: url("../../assets/icons/lang/css1.png");
}
/* line 53, ../sass/_base.scss */
#css:hover {
  background-image: url("../../assets/icons/lang/css2.png");
}

/* line 263, ../sass/style.scss */
#sass {
  background-image: url("../../assets/icons/lang/sass1.png");
}
/* line 53, ../sass/_base.scss */
#sass:hover {
  background-image: url("../../assets/icons/lang/sass2.png");
}

/* line 267, ../sass/style.scss */
#php {
  background-image: url("../../assets/icons/lang/php1.png");
}
/* line 53, ../sass/_base.scss */
#php:hover {
  background-image: url("../../assets/icons/lang/php2.png");
}

/* line 271, ../sass/style.scss */
#mysql {
  background-image: url("../../assets/icons/lang/mysql1.png");
}
/* line 53, ../sass/_base.scss */
#mysql:hover {
  background-image: url("../../assets/icons/lang/mysql2.png");
}

/* line 275, ../sass/style.scss */
#js {
  background-image: url("../../assets/icons/lang/js1.png");
}
/* line 53, ../sass/_base.scss */
#js:hover {
  background-image: url("../../assets/icons/lang/js2.png");
}

/* line 279, ../sass/style.scss */
#jq {
  background-image: url("../../assets/icons/lang/jq1.png");
}
/* line 53, ../sass/_base.scss */
#jq:hover {
  background-image: url("../../assets/icons/lang/jq2.png");
}

/* line 283, ../sass/style.scss */
#b {
  background-image: url("../../assets/icons/lang/b1.png");
}
/* line 53, ../sass/_base.scss */
#b:hover {
  background-image: url("../../assets/icons/lang/b2.png");
}

/* line 287, ../sass/style.scss */
#java {
  background-image: url("../../assets/icons/lang/java1.png");
}
/* line 53, ../sass/_base.scss */
#java:hover {
  background-image: url("../../assets/icons/lang/java2.png");
}

/* line 291, ../sass/style.scss */
#csharp {
  background-image: url("../../assets/icons/lang/csharp1.png");
}
/* line 53, ../sass/_base.scss */
#csharp:hover {
  background-image: url("../../assets/icons/lang/csharp2.png");
}

/* line 295, ../sass/style.scss */
#python {
  background-image: url("../../assets/icons/lang/python1.png");
}
/* line 53, ../sass/_base.scss */
#python:hover {
  background-image: url("../../assets/icons/lang/python2.png");
}

/* line 299, ../sass/style.scss */
#git {
  background-image: url("../../assets/icons/lang/git1.png");
}
/* line 53, ../sass/_base.scss */
#git:hover {
  background-image: url("../../assets/icons/lang/git2.png");
}

/* line 303, ../sass/style.scss */
#ink {
  background-image: url("../../assets/icons/lang/ink1.png");
}
/* line 53, ../sass/_base.scss */
#ink:hover {
  background-image: url("../../assets/icons/lang/ink2.png");
}

/* line 307, ../sass/style.scss */
#ps {
  background-image: url("../../assets/icons/lang/ps1.png");
}
/* line 53, ../sass/_base.scss */
#ps:hover {
  background-image: url("../../assets/icons/lang/ps2.png");
}

/* line 311, ../sass/style.scss */
#azure {
  background-image: url("../../assets/icons/lang/azure1.png");
}
/* line 53, ../sass/_base.scss */
#azure:hover {
  background-image: url("../../assets/icons/lang/azure2.png");
}

/* line 315, ../sass/style.scss */
section {
  width: 29%;
  float: left;
  margin: 2% 2%;
  text-align: center;
}

/* line 322, ../sass/style.scss */
#me {
  margin-top: 5%;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 0px 5px #14191a;
}

/* line 329, ../sass/style.scss */
ul.social li {
  display: inline;
}
/* line 331, ../sass/style.scss */
ul.social li img {
  height: 60px;
}

/* line 336, ../sass/style.scss */
footer {
  background: #333333;
  width: 100%;
  overflow: hidden;
  opacity: 0.90;
}
/* line 341, ../sass/style.scss */
footer p, footer h3, footer a {
  color: #FFF;
  text-decoration: none;
}

/* line 347, ../sass/style.scss */
#second {
  border-top: 1px solid #4D4E50;
  background-color: #333333;
  max-height: 50px;
  text-align: center;
  opacity: 0.95;
}

@media screen and (max-width: 478px) {
  /* line 356, ../sass/style.scss */
  body {
    position: absolute;
  }

  /* line 360, ../sass/style.scss */
  .header-intro {
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* line 366, ../sass/style.scss */
  section {
    float: left;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
  }
}
