	<footer>
		<section>
			<h3><b>Bianca Prodan</b></h3>
			<p><b>0753-550-8122<br /><br />
			b.prodan95@gmail.com</b>
			</p>
		</section>

		<section>
			<h3>LET'S GET CODE-NECTED</h3>
			<ul class="social">
				<li><a href="https://github.com/Bianca95"><img src="assets/icons/git.png" onmouseover="this.src='assets/icons/git-h.png'" onmouseout="this.src='assets/icons/git.png'" /></a></li>
				<li><a href="https://www.codecademy.com/BP95"><img src="assets/icons/codec.png" onmouseover="this.src='assets/icons/codec-h.png'" onmouseout="this.src='assets/icons/codec.png'" /></a></li>
				<li><a href="https://500px.com/bprodan95"><img src="assets/icons/500.png" onmouseover="this.src='assets/icons/500-h.png'" onmouseout="this.src='assets/icons/500.png'" /></a></li>
			</ul>
		</section>

		<section>
			<a href="facebook.com"><img id="me" src="assets/images/me.jpg" /></a>
		</section>
	</footer>
	<footer id="second">
		<p>©Copyright Bianca Prodan 2016</p>
	</footer>

<script src="http://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
<script type="text/javascript" src="scripts/menu.js"></script>
</body>
</html>